language: php

os: linux

dist: xenial

addons:
  firefox: "47.0.1"
  postgresql: "9.6"

services:
  - mysql
  - postgresql

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

php:
 - 7.2

env:
 global:

 jobs:
  - DB=pgsql MOODLE_BRANCH=MOODLE_35_STABLE NODE_VERSION=14.2.0
  - DB=pgsql MOODLE_BRANCH=MOODLE_36_STABLE NODE_VERSION=8.9.0
  - DB=pgsql MOODLE_BRANCH=MOODLE_37_STABLE NODE_VERSION=14.2.0
  - DB=pgsql MOODLE_BRANCH=MOODLE_38_STABLE NODE_VERSION=14.2.0
  - DB=pgsql MOODLE_BRANCH=MOODLE_39_STABLE NODE_VERSION=14.2.0
  - DB=pgsql MOODLE_BRANCH=master NODE_VERSION=14.2.0
  - DB=mysqli MOODLE_BRANCH=MOODLE_35_STABLE NODE_VERSION=14.2.0
  - DB=mysqli MOODLE_BRANCH=MOODLE_36_STABLE NODE_VERSION=8.9.0
  - DB=mysqli MOODLE_BRANCH=MOODLE_37_STABLE NODE_VERSION=14.2.0
  - DB=mysqli MOODLE_BRANCH=MOODLE_38_STABLE NODE_VERSION=14.2.0
  - DB=mysqli MOODLE_BRANCH=MOODLE_39_STABLE NODE_VERSION=14.2.0
  - DB=mysqli MOODLE_BRANCH=master NODE_VERSION=14.2.0

before_install:
  - phpenv config-rm xdebug.ini
  - cd ../..
  - nvm install $NODE_VERSION
  - nvm use $NODE_VERSION
  - composer create-project -n --no-dev --prefer-dist blackboard-open-source/moodle-plugin-ci ci ^2
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"

install:
  - moodle-plugin-ci install

script:
  - moodle-plugin-ci phplint
  - moodle-plugin-ci phpcpd
  - moodle-plugin-ci phpmd
  - moodle-plugin-ci codechecker
  - moodle-plugin-ci validate
  - moodle-plugin-ci savepoints
  - moodle-plugin-ci mustache
  - moodle-plugin-ci grunt
  - moodle-plugin-ci phpdoc
  - moodle-plugin-ci phpunit
  - moodle-plugin-ci behat